<div>
    <input [(ngModel)]="name" type="text" />
    <button (click)="clickShowName()">Add Name</button>
    <p [ngStyle]="{backgroundColor: getColor()}" *ngIf="showName; else noName">{{ name }}</p>
    <ng-template #noName>
        <p>No name was Added</p>
    </ng-template>
</div>
<p>Server is {{ serverOnline ? 'Online' : 'Offline' }}</p>
<button (click)="onlineServer()" [ngClass]="{testclass: !serverOnline}" [disabled]="serverOnline">Run Server</button>
<button (click)="addSrv()">Add srv</button>
<app-for-component *ngFor="let sr of src; let i = index"></app-for-component>